html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#main-container {
    width: 100%;
    height: 100%
}

#map-title {
    z-index: 100;
    position: absolute;
    margin: 74px 0px 0px 27px;
    background-color: #F8F7F3;
    border: 1px #F59C1E solid;
    border-radius: 3px;
    padding: 15px;
    font-weight: bold;
}

#map {
    width: 100%;
    height: 100%;
}